/********************************************
   AUTHOR:  			Erwin Aligam 
   WEBSITE:   			http://www.styleshout.com/
	TEMPLATE NAME: 	ablaze
   TEMPLATE CODE: 	S-0009
   VERSION:          2.1	          	
 *******************************************/ 
 
/********************************************
   HTML ELEMENTS
********************************************/ 

/* top elements */
* { 
	padding: none; margin: 0;
}
body {
	margin: 0; 	padding: 0;
	font: normal .70em/1.5em Tahoma, 'Trebuchet MS', sans-serif;
	color: #6A6A6A;
	text-align: center;
	background: #000;
}

/* links */
a {
	color: #F88F26; 
	background-color: inherit;
	text-decoration: none	
}
a:hover {
	color: #FFF;
	background-color: inherit;
}

/* headers */
h1, h2, h3 {
	font: bold 1.3em 'Trebuchet MS', Arial, Sans-serif;
	color: #000000;
}
h1 { font-size: 1.6em; color: black; } 
h2 { font-size: 1.4em; text-transform:uppercase; color: #A0080D;}
h3 { font-size: 1.3em; color: yellow;}

#main h1 { 
	font: normal 1.5em 'Trebuchet MS', Arial, Sans-serif;
	color: #DBD0A3; 	
}
#sidebar h2 {
	font: bold 1.4em 'Trebuchet MS', Arial, Sans-serif;
	background: #000 url(images/arrow.gif) no-repeat 10px .7em;
	padding: 7px 0 7px 35px;
	color: #A0080D;
}

p, h1, h2, h3 {
	margin: 0;
	padding: 10px 15px;
}

ul, ol {
	margin: 10px 30px;
	padding: 0 15px;
	color: #F88F26;
}
ul span, ol span {
	color: #CCC;
} 

/* images */
img {
	border: 3px solid #444;
}
img.no-border {
	border: none;
}
img.float-right {
  margin: 5px 0px 5px 15px;  
}
img.float-left {
  margin: 5px 15px 5px 0px;
}
a img {  
  border: 3px solid #444;
}
a:hover img {  
  border: 3px solid #CCC !important; /* IE fix*/
  border: 3px solid #444;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #111;    
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
	margin: 15px;
 	padding: 0 0 0 20px;  	
  	background: #111;  
   font: bold 1.3em/1.5em 'Trebuchet MS', Sans-serif;   
}

/* form elements */
form {
	margin: 15px;
	padding: 0;
	background: #000;  
   border: 1px dashed #151515;
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding: 2px;
	border: 1px solid #CCC;
	font: normal 1em Verdana, sans-serif;
	color:#000;
	background: #CCC;
}
textarea {
	width: 250px;
	padding:2px;
	border: 1px solid #CCC;
	font: normal 1em Verdana, sans-serif;
	height:100px;
	display:block;
	color:#000;
	background: #CCC;
}
input.button { 
	margin: 0; 
	font: bold 1em Tahoma, Sans-serif; 
	border: 1px solid #CCC;
	padding: 2px 3px; 
	color: #000;
	background: #CCC;	
}

/* search form */
.searchform form{
	position: absolute;
	top: 10px; right: 10px;
	background-color: transparent;
	border: none;
	margin: 0; padding: 0;
}
input#edit-search-theme-form-1 { 
	margin: 0 3px; padding: 0 2px;
	width: 130px;
	background: #000;
	color: #FFF; 
	height: 25px;
	border: 1px solid #7E050A;	
	vertical-align: top;
}
.searchform input.form-submit { 
	font: bold 12px Arial, Sans-serif; 
	background: #000;
	color: #fff;	
	width: 70px;
	height: 22px;
	border: none;
	padding: 3px 5px;
	vertical-align: top;
}

/***********************
	  LAYOUT
************************/

#header-content, #footer-content, #content {
	width: 83%;	
}

/* header */
#header {
	background: #444 url(images/headerbg.jpg) repeat-x 0 0;
	height: 120px;
	text-align: left;	
}
#header-content {
	position: relative;
	margin: 0 auto; padding: 0;
}
#header-content #logo {
	position: absolute;	
	font: bold 50px Verdana, 'Trebuchet Ms', Sans-serif;
	letter-spacing: -2px; 
	color: #000;
	margin: 0; padding: 0;
	
	/* change the values of left and top to adjust the position of the logo */
	top: 5px; left: 20px;
}
#header-content #slogan {
	position: absolute;	
	font: bold 12px 'Trebuchet Ms', Sans-serif;
	text-transform: none;
	color: #CCC;	
	margin: 0; padding: 0;
	
	/* change the values of left and top to adjust the position of the slogan */
	top: 60px; left: 35px;
}

/* header menu */
#header-content ul {
	position: absolute;
	right: 20px; top: 75px; 
	font: bolder 1.3em 'Trebuchet MS', sans-serif;
	color: #000;
	list-style: none;
	margin: 0; padding: 0;		
}
#header-content li {
	display: inline;
}
#header-content li a {
	float: left;
	display: block;
	padding: 3px 12px;	
	color: #000;
}
#header-content li a:hover {
	background: #000;
	color: #F88F26;
}
#header-content li a#breadcrumb  {
	background: #000;
	color: #CCC;
}

/* content */
#content-wrap {
	clear: both;
	float: left;
	background: #000;		
	width: 100%;
}
#content {
	text-align: left;	
	padding: 0; margin: 0 auto;		
}

/* sidebar */
#sidebar {
	float: right;
	width: 260px;
	margin: 10px 0; padding: 0;	
}
#sidebar ul.sidemenu {
	list-style:none;
	margin: 0;
	padding: 5px 0 15px 0;			
}
#sidebar ul.sidemenu li {
	padding: 0 10px;
}
.block ul.menu a {
	display: block;
	font-weight:bold;
	color: #6A6A6A; 
	height: 1.5em;
	text-decoration: none;
	padding:.3em 0 .3em 15px;
	background: #000;		
	border-bottom: 1px dashed #151515; 
	line-height: 1.5em;
}
.block ul.menu li.first a{
	border-top: 1px dashed #151515;
}
.block ul.menu a:hover {
	padding: .3em 0 .3em 10px;
	background: #000;
	border-left: 5px solid  #D30F16;
	color: #D30F16;		
}
#sidebar .sidebox {
	background: #000;
	margin: 5px 15px 10px 15px;
}

/* main */
#main {
	margin: 10px 0; 
	padding: 0 270px 0 0;		
}

/* footer */
#footer {
	clear: both;
	margin: 0; padding: 0;
	border-top: 1px solid #68050A;
	font-size: 95%;
	text-align: left;	
}
#footer h2, #footer p {
	padding-left: 0;
}
#footer-content {	
	margin: 0 auto;		
}
#footer-content a {
	text-decoration: none;
	color: #8A8A8A;
}
#footer-content a:hover {
	text-decoration: underline;
	color: #FFF;
}
#footer-content ul {
	list-style: none;
	margin: 0; padding: 0;
}
#footer-content .col {
	width: 32%;
	padding: 0 5px 30px 15px;	
}
#footer-content .col2 {
	width: 30%;
	padding: 0 0 30px 0;	
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.comments { 
	text-align: right; 
	border: 1px dashed #151515; 
	padding: 5px 10px;
	margin: 20px 15px 10px 15px;
}



#edit-search-theme-form-1-wrapper label{
display:none;
}

#edit-search-block-form-1-wrapper label{
display:none;
}


#edit-search-block-form-1-wrapper input{
font: bold 12px Arial, Sans-serif; 
	background: #444 url(images/headerbg.jpg) repeat-x 0 0;
	color: #fff;	
	width: 80px;
	height: 20px;
	border: none;
}

/*overrides*/
li.leaf {
list-style-image:none;
list-style-type:none;
}

ul.links li {
  padding: none;
}